html, body {
    height: 100%;
}

.maincontainer {
    position: relative;
    min-height: 100%;
    text-align: center;
}

.container {
    width : 80%;
    margin:auto;
    padding-top:20px;
    padding-bottom:50px;   /* Height of the footer */
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    color: #0b97c4;
}

header {
    background-color:lightgray;
    height: 60px;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-top: 10px;
}

ul.trow li{
    display: inline-block;
}

div.table{
    text-align: left;
    width: 100%;
}

ul.trow {
    border-bottom: 1px solid lightgray;
    list-style:none;
    padding: 10px 0;
    margin: 0;
}

ul.thead {
    border-bottom: 2px solid gray;
    font-weight: bold;
}

ul.thead li{
    font-size: 1.2em;
    color: #0b97c4;
    cursor: pointer;
}

ul.promotion {
    background-color:yellow;
}

footer {
    margin-top:30px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    position: absolute;
}

.filter {
    margin-bottom: 10px;
}

.form-control{
    border-radius: 2px;
    background-color: white;
    padding: 5px;
}

button {
    padding: 5px 10px;
    border: 1px solid lightgray;
    background-color: lightblue;
    border-radius: 2px;
}

@media screen and (min-width: 769px){
    .col-1 {width: 65%;}
    .col-2 {width: 16%;}
    .col-3 {width: 16%;}
}

@media screen and (min-width: 321px) and (max-width: 768px){
    .col-1 {width: 49%;}
    .col-2 {width: 49%;}
    .col-3 {width: 100%;}
    ul.trow li{
        margin-bottom: 10px;
    }
    select#filterby{
        max-width: 100%;
        margin: 5px 0;
    }
}

@media screen and (max-width: 320px){
    .container {
        width: 90%;
    }
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    ul.trow li{
        margin-bottom: 10px;
    }

    select#filterby{
        max-width: 100%;
        margin: 5px 0;
    }
}   